<div container>

widget edit
   
    <!--div class="panel panel-default">
        <div class="panel-body">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Azione</th>
                        <th>Codice</th>
                        <th>Titolo ITA</th>
                        <th>Titolo ENG</th>
                        <th>Descrizione ITA</th>
                        <th>Descrizione ENG</th>
                        <th>Grafico</th>
                        <th>Matrice</th>


                    </tr>
                </thead>
                <tr dir-paginate="thing in things | itemsPerPage: perPage" total-items="totalThings" current-page="pagination.current">
                    <td>
                        <button ng-click="remove(thing)" ng-if="editState == 'edit'" class="btn btn-danger">Del</button>
                        <button ng-click="changeState('edit')" ng-if="editState == 'view'" class="btn btn-warning">Edit</button>
                        <button ng-click="pusshSave(thing)" ng-if="editState == 'edit'" class="btn btn-success">Save</button>
                        <button ng-click="changeState('view')" ng-if="editState == 'edit'" class="btn btn-warning">Back</button>
                    </td>
                    <td>
                        <input type="text" ng-if="editState == 'edit'" ng-model="thing.name" placeholder="thing.name" />
                        <div ng-if="editState == 'view'"> {{ thing.name }} </div>
                    </td>
                    <td>
                        <input type="text" ng-if="editState == 'edit'" ng-model="thing.nameIta" placeholder="thing.name" />
                        <div ng-if="editState == 'view'">{{ thing.nameIta }}</div>
                    </td>
                    <td>
                        <input type="text" ng-if="editState == 'edit'" ng-model="thing.nameEng" placeholder="thing.name" />
                        <div ng-if="editState == 'view'">{{ thing.nameEng }}</div>
                    </td>
                    <td>
                        <input type="text" ng-if="editState == 'edit'" ng-model="thing.descIta" placeholder="thing.name" />
                        <div ng-if="editState == 'view'">{{ thing.descIta }}</div>
                    </td>
                    <td>
                        <input type="text" ng-if="editState == 'edit'" ng-model="thing.descEng" placeholder="thing.name" />
                        <div ng-if="editState == 'view'">{{ thing.descEng }}</div>
                    </td>
                </tr>
            </table>

            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
        </div>
    </div-->
</div>