<md-whiteframe class="md-whiteframe-z1" layout="column">
    <div layout="row" class="images-container-title">
        <div flex>
            <h3>Add photos to your widget!</h3>
            <div ng-controller="AddPhotoCtrl">
                <div ng-hide="imgSrc" ngf-drop ngf-select
                     ngf-change="addImages($files)"
                     ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" class="drop-box"
                     ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'"
                     ngf-drop-available="dropAvailable">
                    <div>Click here to select image</div>
                    <div>
                        <strong>OR</strong>
                    </div>
                    <div ng-show="dropAvailable">You can also drop image to here</div>
                </div>
                <div ng-show="imgSrc" class="ng-crop-container">
                    <h3>Great! Now edit & crop your image...</h3>
                    <md-button ng-click="saveCroppedImage()" ng-disabled="!imgSrc" class="md-primary">
                        Save Image
                    </md-button>
                    <img-crop image="imgSrc" result-image="myCroppedImage" area-type="square"></img-crop>
                </div>
            </div>

            <br />

            <div layout="row" class="images-container-title">
                <div class="party-image-container" ng-repeat="image in imageList">
                    <img ng-src="{{ image.url() }}"/><br/>
                </div>
            </div>


        </div>

    </div>
</md-whiteframe>


