<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6"><img ng-src="http://customercare.developers.tmp/servicehub/images/graphs/{{thing.name}}.jpg" alt="{{thing.name}}.jpg" style="max-width: 560px ; max-height:350px"/> </div>
			<div class="col-md-6">
				<h1>{{thing.nameIta}}</h1>
				<h3>Codice: {{thing.name}}</h3>
				<p>{{thing.descIta}}</p>
				<br>
				<button class="btn col-md-6 btn-success" ng-click="goToState('widgets-list-view',thing._id)">Back</button>
			</div>
		</div>
	</div>
</div>



<div container>
	<div class="panel">
		<div class="panel-body">


			<div class="container" ng-include="'client/components/things.widget.form.ng.html'">

			</div>
			<div class="row">
				<br>
				<h3>Definizione del Data Mart</h3>
				<br>

				<div class="col-md-6"><img ng-src="http://customercare.developers.tmp/servicehub/images/definitions/{{thing.name}}.jpg" alt="{{thing.name}}.jpg" style="max-width: 560px ; max-height:350px"/> </div>
			<br>
			</div>

			<button class="btn col-md-12 btn-warning" ng-click="goToState('widgets-list-view',thing._id)">Back</button>

		</div>
	</div>
</div>