<!-- CODICE ORIGINARIO, PER L'INSERIMENTO TRAMITE LISTA, LO TENGO SOLO COME ESEMPIO

<div container>
	<div class="panel panel-default">
		<div class="panel-body">
			<form ng-submit="save()" name="form" novalidate="" class="form-horizontal">
				<input type="text" placeholder="Codice" ng-model="newThing.name" class="form-control center col-md-3 col-sm-12" required/>
				<input type="text" placeholder="Titolo Italiano" ng-model="newThing.nameIta" class="form-control" required/>
				<input type="text" placeholder="Titolo Inglese" ng-model="newThing.nameEng" class="form-control" required/>
				<input type="text" placeholder="Descrizione Italiana" ng-model="newThing.descIta" class="form-control" required/>
				<input type="text" placeholder="Descrizione Inglese" ng-model="newThing.descEng" class="form-control" required/>
				<input type="text" placeholder="Descrizione Inglese" ng-model="newThing.Section" class="form-control" required/>
				<input type="text" placeholder="Descrizione Inglese" ng-model="newThing.Set" class="form-control" required/>
				<span class="input-group-btn">
        <input type="submit" value="Add" class="btn btn-primary" ng-disabled="!form.$valid"/>
        </span>
				<br>
			</form>
		</div>
	</div>
</div-->