<div container>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-lg-12 col-md-12">Numero totale dei widgets nel catalogo: {{thingsCount.count}}</div>
            <div class="row"></div>
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" direction-links="true" boundary-links="true" class="col-md-12" max-size="5" ></dir-pagination-controls>

            <div class="col-lg-8 col-md-8">
                <input type="search" ng-model="search" placeholder="Ricerca" class="form-control" />
            </div>

            <div class="col-lg-12 col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ACTION</th>
                        <th>CODE</th>
                        <th>TITLE ITA</th>
                        <th>SECTION</th>
                        <th>SET</th>
                        <th>STATE</th>
                        <th>TYPE</th>
                        <th>DIMENSION</th>
                        <th>THUMB</th>
                    </tr>

                    </thead>
                    <tr ng-class="{
                           'danger':thing.publishState=='Inserito' ,
                           'warning':thing.publishState=='In lavorazione' ,
                           'success':thing.publishState=='Pubblicato'
                       }"
                        dir-paginate="thing in things | itemsPerPage: 10" total-items="totalThings" current-page="pagination.current">

                        <td>
                            <button class="btn btn-warning" ng-click="goToState('widget-overview',thing._id)">View </button>
                            <input type="submit" value="Remove" class="btn btn-danger" ng-click="remove(thing)" />
                        </td>
                        <td>
                            <div style="cursor:pointer" ng-click="goToState('widget-overview',thing._id)"> {{ thing.name }}</div>
                        </td>
                        <td>
                            <div style="cursor:pointer" ng-click="goToState('widget-overview',thing._id)"> {{ thing.nameIta }} </div>
                        </td>
                        <td>
                            <div style="cursor:pointer" ng-click="goToState('widget-overview',thing._id)">
                                <span ng-if="thing.sections.pax">Pax</span>
                                <span ng-if="thing.sections.geo">Geo</span>
                                <span ng-if="thing.sections.time">Time</span>
                                <span ng-if="thing.sections.rooms">Rooms</span>
                            </div>
                        </td>
                        <td>
                            <div style="cursor:pointer" ng-click="goToState('widget-overview',thing._id)"> {{ thing.set }} </div>
                        </td>
                        <td>
                            <div style="cursor:pointer" ng-click="goToState('widget-overview',thing._id)">{{ thing.publishState }}</div>
                        </td>
                        <td>
                            <div style="cursor:pointer" ng-click="goToState('widget-overview',thing._id)"> {{ thing.set }} </div>
                        </td>
                        <td>
                        <div style="cursor:pointer" ng-click="goToState('widget-overview',thing._id)"> {{ thing.set }} </div>
                    </td>
                        <td>
                            <div style="cursor:pointer" ng-click="goToState('widget-overview',thing._id)"> {{ thing.set }} </div>
                        </td>
                    </tr>
                </table>
            </div>
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
            <div class="col-lg-12 col-md-12">
            <button align="right" class="btn btn-success col-lg-4 col-md-4" ng-click="goToState('widget-details-insert')">Nuovo inserimento </button>
                </div>
        </div>
    </div>
</div>