<div container>
    <div class="panel panel-default">
        <div class="panel-body">

                     <div class="col-lg-12 col-md-12">Total number of widgets in the catalog: {{thingsCount.count}}</div>
            <div class="row"></div>

            <div class="row">
            <div class="col-lg-8 col-md-8">
                <input type="search" ng-model="search" placeholder="Ricerca" class="form-control" />
            </div>

            <div class="col-lg-4 col-md-4">
                <button align="right" class="btn btn-success w100 col-lg-4 col-md-4" ng-click="goToState('widget-details-insert')">Nuovo inserimento </button>
            </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ACTION</th>
                        <th>CODE</th>
                        <th>TITLE ITA</th>
                        <th>SECTION</th>
                        <th>SET</th>
                        <th>STATE</th>
                        <th>TYPE</th>
                        <th>DIM</th>
                        <th>THUMB</th>
                    </tr>

                    </thead>
                    <tr ng-class="{
                           'danger':thing.publishState=='Inserito' ,
                           'warning':thing.publishState=='In lavorazione' ,
                           'success':thing.publishState=='Pubblicato'
                       }"
                        dir-paginate="thing in things | filter:createdAt | itemsPerPage: pageSize" total-items="totalThings" current-page="pagination.current">

                                                <td style="width: 200px">
                            <button class="btn btn-warning" ng-click="goToState('widget-overview',thing._id)">View </button>
                            <input type="submit" value="Remove" class="btn btn-danger" ng-click="remove(thing)" />
                        </td>
                        <td>
                            <div style="cursor:pointer" ng-click="goToState('widget-overview',thing._id)"> {{ thing.name }}</div>
                        </td>
                        <td>
                            <div style="cursor:pointer" ng-click="goToState('widget-overview',thing._id)"> {{ thing.nameIta }} </div>
                        </td>
                        <td>
                            <div style="cursor:pointer" ng-click="goToState('widget-overview',thing._id)">
                                <span ng-if="thing.sections.pax">Pax</span>
                                <span ng-if="thing.sections.geo">Geo</span>
                                <span ng-if="thing.sections.time">Time</span>
                                <span ng-if="thing.sections.rooms">Rooms</span>
                                <span ng-if="thing.sections.overview">Overview</span>
                            </div>
                        </td>
                        <td>
                            <div style="cursor:pointer" ng-click="goToState('widget-overview',thing._id)"> {{ thing.set }} </div>
                        </td>
                        <td>
                            <div style="cursor:pointer" ng-click="goToState('widget-overview',thing._id)">{{ thing.publishState }}</div>
                        </td>
                        <td>
                            <div style="cursor:pointer" ng-click="goToState('widget-overview',thing._id)"> {{ thing.publishType }} </div>
                        </td>
                        <td>
                        <div style="cursor:pointer" ng-click="goToState('widget-overview',thing._id)"> {{ thing.publishDim }} </div>
                    </td>
                        <td>
                            <div style="cursor:pointer" ng-click="goToState('widget-overview',thing._id)"> <img ng-src="http://customercare.developers.tmp/servicehub/images/graphs/{{thing.name}}.jpg" alt="{{thing.name}}.jpg" class="img-thumbnail" width="100" height="50"/> </div>




                        </td>
                    </tr>
                </table>
            </div>


        </div>
    </div>
</div>
<dir-pagination-controls on-page-change="pageChanged(newPageNumber)" max-size="5"></dir-pagination-controls>
