<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6"> <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-responsive"> </div>
			<div class="col-md-6">
				<h1>{{thing.nameIta}}</h1>
				<h3>Codice: {{thing.name}}</h3>
				<p>{{thing.descIta}}</p>
				<br>
				<button class="btn col-md-6 btn-success" ng-click="goToState('widgets-list-view',thing._id)">Back</button>
			</div>
		</div>
	</div>
</div>



<div container>
	<div class="panel">
		<div class="panel-body">


			<div class="container" ng-include="'client/components/things.widget.form.ng.html'">

			</div>

			<button class="btn col-md-12 btn-warning" ng-click="goToState('widgets-list-view',thing._id)">Back</button>

		</div>
	</div>
</div>